api/.bundle
/.project
api/log/*.log
api/tmp/**/*
api/public/uploads/*
api/fig.yml
api/public/file_storage/
api/public/javascripts/*
api/public/storage/*
api/public/version
client/node_modules
node_modules
coverage

# VS Code
.vscode/

# Swap file vim
.*.swp

# RVM gemset name
.ruby-gemset

.byebug_history

# IntelliJ
.idea/
api/.idea
client/.idea
api/.vscode/
client/.vscode/

# Auto generated ERD file
